/* font */
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

@font-face {
  font-family: "BCcardL";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* font */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  /* width: 100vw; */
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  font-family: "BCcardL", sans-serif;
  background-image: url("img/FrontPage.png");
  background-size: cover;
  background-color: #f9edd7;
}

.logo {
  width: 10rem;
}

.gnb {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #ff7606;
  font-size: 1em;
  font-weight: 900;
  border: none;
  border-radius: 1.5rem;
  margin-left: 20px;
}

.btn:hover {
  color: white;
  background-color: #dd6e14;
}

.foot-print {
  width: 1rem;
  height: 1rem;
}

.title {
  font-family: "Noto Sans KR", sans-serif;
  margin: 30px 0px;
  z-index: 1;
}

.bar {
  width: 17rem;
  height: 0.2rem;
  background-color: rgb(105, 105, 105);
}

.sub-title-1 {
  color: rgb(105, 105, 105);
  font-size: 3rem;
}

.sub-title-2 {
  font-size: 10rem;
  color: #fff;
  -webkit-text-stroke: 0.1rem rgb(105, 105, 105);
  text-shadow: 10px 10px 0px rgb(87, 87, 87);
  border-top: 0;
}

.tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.form-book {
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  border-radius: 5rem;
  background-color: white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;

  z-index: 10000;
}

i {
  border: none;
  border-radius: 100%;
  background-color: #ff7606;
  padding: 1rem 1rem;
  color: white;
  font-size: 2rem;
  margin-left: 3rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-content {
  position: relative;
  width: 30%;
  height: 70%;
  padding: 2rem 3rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: url("img/NM.png");
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

.form-title {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.input {
  width: 80%;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.naver {
  width: 2.6rem;
  height: 2.6rem;
}

.google {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.5rem 1rem;
}

.kakao {
  width: 2.8rem;
  height: 2.8rem;
}

.submitBtn {
  margin: 2rem auto;
}

.closeBtn {
  position: absolute;
  left: 90%;
  bottom: 95%;
  font-size: 2rem;
  border-radius: 100%;
  padding: 0.5rem 1.2rem;
}

.hidden {
  display: none;
}

/* modal animation */
#scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* modal animation */

/* 미디어 쿼리  */
/* Small devices (landscape phones, 576px and up) : sm */
@media screen and (max-width: 576px) {
  .logo {
    width: 0.1rem;
  }

  .btn {
    font-size: 0.1em;
    margin-left: 5px;
    padding: 5px;
  }

  .foot-print {
    width: 1rem;
  }

  .bar {
    width: 11.5rem;
    height: 0.1rem;
    background-color: rgb(105, 105, 105);
  }

  .sub-title-1 {
    color: rgb(105, 105, 105);
    font-size: 2rem;
  }

  .sub-title-2 {
    font-size: 5rem;
    text-shadow: 5px 5px 0px rgb(87, 87, 87);
  }
}

/* Medium devices (tablets, 768px and up) : md*/
@media screen and (max-width: 768px) {}