.card-box {
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  /* border-radius: calc(var(--curve) * 1px); */
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
}

.card-image {
  width: 500px;
  height: 500px;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
  background-color: #fff;
}

.card:hover .card-overlay {
  transform: translateY(0);
}

.card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  background-color: #ffffff;
}

.card-arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card-arc path {
  fill: var(#ffffff);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header {
  transform: translateY(0);
}

.hotel-title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card-tagline {
  display: block;
  margin: 1em 0;
  font-size: .8em;
}

.hotel-rating {
  font-size: .8em;
  color: rgb(249, 105, 2);
}

.hotel-description {
  padding: 0 2em 2em;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}