body {
  overflow: hidden;
  justify-content: center;
  background-image: url("/image/FrontPage.png");
  background-size: cover;
}

.title {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5rem 20rem;
  z-index: 1;
}

.bar {
  width: 17rem;
  height: 0.2rem;
  background-color: rgb(105, 105, 105);
}

.sub-title-1 {
  color: rgb(105, 105, 105);
  font-size: 3rem;
}

.sub-title-2 {
  font-size: 10rem;
  color: #fff;
  -webkit-text-stroke: 0.1rem rgb(105, 105, 105);
  text-shadow: 10px 10px 0px rgb(87, 87, 87);
  border-top: 0;
}

.tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.form-book {
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  border-radius: 5rem;
  background-color: white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 10000;
  margin-top: 8rem;
}

i {
  color: white;
  font-size: 2rem;
}
.search-btn {
  border: none;
  border-radius: 100%;
  background-color: #ff7606;
  padding: 1rem 1rem;
}
.search-btn:hover {
  background-color: #dd6604;
}





/* 미디어 쿼리  */
/* Small devices (landscape phones, 576px and up) : sm */
@media screen and (max-width: 576px) {
  .logo {
    width: 0.1rem;
  }

  .btn {
    font-size: 0.1em;
    margin-left: 5px;
    padding: 5px;
  }

  .foot-print {
    width: 1rem;
  }

  .bar {
    width: 11.5rem;
    height: 0.1rem;
    background-color: rgb(105, 105, 105);
  }

  .sub-title-1 {
    color: rgb(105, 105, 105);
    font-size: 2rem;
  }

  .sub-title-2 {
    font-size: 5rem;
    text-shadow: 5px 5px 0px rgb(87, 87, 87);
  }
}

/* Medium devices (tablets, 768px and up) : md*/
@media screen and (max-width: 768px) {}