#input-file {
    display: none;
}

.dog-gender input[type="radio"]{
    display:none;
}

.dog-gender input[type="radio"]:checked + span{
    background-color: #f9edd7;
}

.hidden {
    display: none;
}