#input-file {
    display: none;
}

.toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.toggle input + label {
    margin: 0;
    margin-right: 1rem;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    color: #fff;
    border: none;
    border-radius: 3rem;
    background-color: #dd6e14;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input:checked + label {
    background-color: #ff7606;
    z-index: 1;
}
.fa-check {
    margin-left: 0.3rem;
}

.mypet-box {
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.mypet img {
    border-radius: 100%;
}
.hidden {
    display: none;
}
.foot-print {
    width:10rem;
    height: 10rem;
    -webkit-mask: url(/image/footprint.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #ff7606;
    cursor: pointer;
}

.foot {
    width: 1.5rem;
    height: 1.5rem;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    margin: 5rem 0rem;
    display: none;
}
.mypet-box {
    display: flex;
    flex-direction: row;
}
.mypet {
    margin: 0rem 0.5rem;
}
.form-label {
    display: flex;
    justify-content: center;
}

li {
    margin: 3rem 0rem;
}

input {
    width: 20rem;
    height: 3rem;
    background-color: #f9edd7;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding: 0.5rem;
    text-align: center;
}

input[type="date"] {
    outline: none;
    border: none;
    background-color: #f9edd7;
    text-align: center;
    align-items: center;
    justify-content: center;
}

select {
    width: 20rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    outline: none;
    padding-left: 3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('https://t1.daumcdn.net/cfile/tistory/99761B495C84AA8716') no-repeat 95% 50%;
    background-color: #f9edd7;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}


label > .fas {
    display: none;
}

.check > input:checked + label > .fas {
    display: inline-block;
}
.dog-number-box {
    margin-top: 2rem;
    display: none;
}

.btn {
    padding: 0.75rem 2rem;
    font-family: "BCcardL", sans-serif;
    color: white;
    background-color: #ff7606;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 1.5rem;
    margin-left: 0px;
    outline: none;
    margin-bottom: 2rem;
}