<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nmsm.dyn.dao.DogInfoDAO">

    <select id="selectDogInfoByUpk" resultType="DogInfoEntity">
        select * from dog_info
        where iuser = #{iuser}
    </select>

    <select id="selectAllDogBreed" resultType="DogBreedEntity">
        select * from dog_breed
    </select>

    <insert id="insertDogInfo" useGeneratedKeys="true" keyProperty="idog">
        insert into dog_info
        (iuser, breed_pk, d_birth, d_nm, d_gender, d_weight, d_regNum, d_neuter)
        value
        (#{iuser},#{breed_pk},#{d_birth},#{d_nm},#{d_gender}, #{d_weight}, #{d_regNum}, #{d_neuter})
    </insert>
</mapper>