<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nmsm.dyn.dao.HotelDAO">
    <select id="getHotelList" resultType="HotelInfoEntity">

    </select>

    <select id="selHotelList" resultType="HotelInfoDTO">
        SELECT A.h_capacity, A.h_location, A.address, A.h_price, A.mapX, A.mapY,
               A.h_preDetail, A.h_detail, A.h_tel, A.h_service, A.h_star, A.h_name B.h_img
        FROM hotel_info A
        LEFT JOIN hotel_img B
        ON A.ihotel = B.ihotel
        WHERE A.h_location = #{ h_location }
        ORDER BY A.ihotel
        <if test="recordCnt > 0">
            LIMIT #{ startIdx }, #{ recordCnt }
        </if>
    </select>

    <select id="selMaxPageVal" resultType="int">
        SELECT CEIL(COUNT(ihotel) / #{recordCnt})
        FROM hotel_info
        WHERE h_location = #{ hLocation }
    </select>

    <select id="selHotelReview" resultType="HotelReviewDTO">
        SELECT A.review_star, A.review_cnt, A.review_regdt, B.review_img
        FROM hotel_review A
        LEFT JOIN review_img B
        ON A.ireview = B.ireview
    </select>

    <insert id="insHotelReview">
        INSERT INTO hotel_review
        ( review_star, review_cnt )
        VALUES
        ( #{review_star}, #{review_cnt} )
    </insert>

    <insert id="insHotelReviewImg">
        INSERT INTO review_img
        ( ireview, review_img )
        VALUES
        ( #{ireview}, #{h_r_img} )
    </insert>

    <insert id="insAvgStar">
        INSERT INTO hotel_info
        ( h_star )
        VALUES
        ( SELECT AVG( review_star ) FROM hotel_review WHERE ireview = #{ ireview })
    </insert>

    <update id="updHotelReview">
        UPDATE hotel_review
        SET review_star = #{review_star}, review_cnt = #{review_cnt}
        WHERE ireview = #{ireview}
    </update>

    <update id="updHotelReviewImage">
        UPDATE review_img
        SET review_img = #{review_img}
        WHERE ireview = #{ireview}
    </update>
    <delete id="delHotelReview">
        DELETE FROM hotel_review
        WHERE ireview = #{ireview}
    </delete>

    <delete id="delHotelReviewImg">
        DELETE FROM review_img
        WHERE ireview = #{ireview}
    </delete>

</mapper>