<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nmsm.dyn.dao.HotelDAO">
    <resultMap id="hotelInfo" type="com.example.nmsm.sta.model.dto.HotelInfoDTO">
        <result property="ihotel" column="ihotel"></result>
        <collection property="imgList" select="selectHotelImgList" column="ihotel"></collection>
        <collection property="serviceList" select="selectServcieList" column="ihotel"></collection>
    </resultMap>

    <select id="selectHotelImgList" resultType="string">
        select h_img from hotel_img
        where ihotel = #{ihotel}
    </select>
    <select id="selectServcieList" resultType="HotelServiceDTO">
        select hser.*, ser.s_nm
        from hotel_service hser
        left join service ser
        on hser.iservice = ser.iservice
        where hser.ihotel = #{ihotel};
    </select>

    <select id="selectLikeHotelInfoByIuser" resultMap="hotelInfo">
        select *
        from hotel_info
        where ihotel in
              (select ihotel from like_list
               where iuser = #{iuser});
    </select>

    <select id="selHotelList" resultType="HotelInfoDTO">
        SELECT A.h_capacity, A.h_location, A.address, A.h_price, A.mapX, A.mapY,
               A.h_preDetail, A.h_detail, A.h_tel, A.h_service, A.h_star, A.h_name B.h_img
        FROM hotel_info A
        LEFT JOIN hotel_img B
        ON A.ihotel = B.ihotel
        WHERE A.h_location = #{ h_location }
        ORDER BY A.ihotel
        <if test="recordCnt > 0">
            LIMIT #{ startIdx }, #{ recordCnt }
        </if>
    </select>
<!--    TODO : Mapper 작업 하기-->
    <select id="selHotelInfo" resultType="HotelInfoDTO">

    </select>

    <select id="selHotelReview" resultType="HotelReviewDTO">
        SELECT A.review_star, A.review_cnt, A.review_regdt, B.review_img
        FROM hotel_review A
                 LEFT JOIN review_img B
                           ON A.ireview = B.ireview
    </select>



    <select id="selectMyHotelInfoByIuser" resultType="HotelInfoDTO">

    </select>





    <insert id="insHotelReview">
        INSERT INTO hotel_review
        ( review_star, review_cnt )
        VALUES
        ( #{review_star}, #{review_cnt} )
    </insert>

    <insert id="insHotelReviewImg">
        INSERT INTO review_img
        ( ireview, review_img )
        VALUES
        ( #{ireview}, #{h_r_img} )
    </insert>

    <insert id="insAvgStar">
        INSERT INTO hotel_info
        ( h_star )
        VALUES
        ( SELECT AVG( review_star ) FROM hotel_review WHERE ireview = #{ ireview })
    </insert>

    <insert id="insertHotel">
        insert into hotel_info
        (h_name, h_detail, h_address, h_tel, h_capacity)
        value
        (#{h_name},#{h_detail},#{h_address},#{h_tel}, #{h_capacity})
    </insert>

    <update id="updHotelReview">
        UPDATE hotel_review
        SET review_star = #{review_star}, review_cnt = #{review_cnt}
        WHERE ireview = #{ireview}
    </update>

    <update id="updHotelReviewImage">
        UPDATE review_img
        SET review_img = #{review_img}
        WHERE ireview = #{ireview}
    </update>

    <delete id="delHotelReview">
        DELETE FROM hotel_review
        WHERE ireview = #{ireview}
    </delete>

    <delete id="delHotelReviewImg">
        DELETE FROM review_img
        WHERE ireview = #{ireview}
    </delete>



    <select id="selMaxPageVal" resultType="int">
        SELECT CEIL(COUNT(ihotel) / #{recordCnt})
        FROM hotel_info
        WHERE h_location = #{ hLocation }
    </select>

</mapper>