<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nmsm.dyn.dao.UserDAO">
    <select id="selectByUemail" resultType="UserEntity">
        select * from user
        where u_email = #{u_email}
    </select>

    <select id="selectByEmail" resultType="UserEntity">
        select * from user
        where u_email = #{u_email}
    </select>

    <select id="chkHotelUse" resultType="int">
        SELECT *
        FROM book_info
        WHERE iuser = #{ iuser } AND ihotel = #{ ihotel }
    </select>

    <insert id="insertUser">
        insert into user
        (u_nm,u_email,u_pw,u_birth,u_tel,auth)
        value
        (#{u_nm},#{u_email},#{u_pw},#{u_birth},#{u_tel},#{auth})
    </insert>

    <insert id="insLike">
        INSERT INTO like_list
            ( iuser, ihotel )
        VALUES
            ( #{ iuser }, #{ ihotel })
    </insert>

    <delete id="delLike">
        DELETE FROM like_list
        WHERE iuser = #{ iuser } AND #{ ihotel }
    </delete>

</mapper>